.header-content{
    padding-bottom: 24.8px;
}

.nav{
    background-color: #FADCD6;
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
    max-height: 20px;
}

.nav-content-wrapper{
    width: 87.7%;
    display: flex;
    justify-content: space-between;
}

.nav-text-content{
    font-size: 0.75rem;
}

.nav-bar-content{
    width: 30%;
    max-width: 250px;
    background-color: #EBAE9B;
    border-radius: 5px;
}

.nav-greenbar{
    background-color: #59A77D;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 0%;
}

.diagnosis-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diagnosis-container > .row1{
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
}

.row1>div{
    width: 87.7%;
}

.row1-subtitle{font-size: 0.75rem; font-family: 'Poppins',sans-serif;}
.row1-title{font-size: 1.5rem; font-family: 'Poppins',sans-serif;}

.diagnosis-container > .row2{
    width: 87.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    min-height: 430px;
}

.row2-content {
    padding-top: 0.88rem; 
    padding-bottom: 0.88rem; 
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.symptom {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    word-break: break-word;
}

@media only screen and (max-width: 600px){
    .symptom {
        max-width: 180px;
    }
}

@media only screen and (min-width: 600px){
    .modal{
        max-width: 800px;
    }
}

.input{
    width: 40%;
    max-width: 300px;
}

select{
    width: 100%;
    height: 1.8rem;
    border: none;
    font-size: 0.875rem;
    background-color: #e2e2e2;
    border-radius: 5px;
}


.diagnosis-container > .row3{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e2e2e2;
}

.backNext {
    width: 87.7%;
    display: flex;
    justify-content: space-between;
    padding: 1.75rem 0;
}


.backButton {
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    color: #e64626;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.backButton:hover{
    color: #FADCD6;
}

.nextButton {
    background-color: #59A77D;
    border: none;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    padding: 0.5rem 1.25rem;
}

.nextButton:hover{
    background-color: #7ea892;
}

.click-content{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.click-content:hover{
    color: #747070;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: none;
    border: 1px solid black;
    background-color: #edebeb;
    border-radius: 10px;
}

.modal-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-content{
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 3%;
    line-height: 24px;
}

.image-container{
    width: 100%;
    border-bottom: 1px solid rgb(165, 163, 163);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: end;
}

.image-container > div{
    width: fit-content;
    padding-right: 10px;
}

.x{
    height: 25px;
    width: 25px;
}

ul{
    margin: 0;
    padding-left: 8%;
}